<html>
  <head>
    <title>Twitter Clone</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'createtweet' %}">Tweet</a>
      <a href="">Notifications: *notif number here*</a>
      <a href="{% url 'userdetail' id=request.user.id %}">My Profile</a>
    </header>

    <div id="userinfobox">
      <p>{{user.display_name}} @{{user.username}}</p>
      <p>Tweets: {{tweets|length}}</p>
      <p>Following:</p>
      <a href="{% url 'logout'%}">Logout</a>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
