<header>
  <a href="{% url 'logout'%}">Logout</a>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'createtweet' %}">Tweet</a>
  <a href="">Notifications: *notif number here*</a>
  <a href="{% url 'userdetail' id=request.user.id %}">My Profile</a>
</header>

<h1>{{user.display_name}} @{{user.username}}</h1>

{% if tweets %} {% for tweet in tweets%}
<p>
  {{tweet.author.display_name}} @{{tweet.author}}
  <a href="{%url 'tweetdetail' id=tweet.id%}">{{tweet.time_tweeted}}</a>
</p>
<p>{{tweet.tweet}}</p>
{% endfor %} {% else %}
<p>This user hasn't tweeted yet!</p>
{% endif %}
