{% extends 'base.html' %}{% block content %}
<div id="userinfobox">
  <p>{{user.display_name}} @{{user.username}}</p>
  <p>Tweets: {{tweets|length}}</p>
  <p>Following: {{user.following.all|length}}</p>
  {% if user != request.user and request.user.is_authenticated %} {% if user in request.user.following.all %}
  <a href="{% url 'unfollow' username=user.username%}">Unfollow</a>
  {% else %}
  <a href="{% url 'follow' username=user.username%}">Follow</a>
  {% endif %} {% endif %}
</div>
<div class="tweetfeed">
  {% if tweets %} {% for tweet in tweets%}
  <p>
    {{tweet.author.display_name}} @{{tweet.author}}
    <a href="{%url 'tweetdetail' id=tweet.id%}">{{tweet.time_tweeted}}</a>
  </p>
  <p>{{tweet.tweet}}</p>
  {% endfor %} {% else %} {%if user == request.user%}
  <p>
    You haven't tweeted yet. Have something to say?
    <a href="{%url 'createtweet'%}">Tweet it!</a>
  </p>
  {% else %}
  <p>This user hasn't tweeted yet!</p>
  {% endif %} {% endif %}
</div>
{% endblock %} {% include 'sidebar.html' %}
